<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Sample Application</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Merriweather:300,400%7CPoppins:400,500,600" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../css/main.css">

	<script src="/components/jquery/jquery.min.js"></script>
	<script src="/components/jquery/purl.js"></script>
	<script src="/components/tether/js/tether.min.js"></script>

</head>

<body>
    <h1>TEST</h1>
</body>

</html>
